@media all and (max-width: 599px) {
    body.showsidebar {
        .sidebar {
            left: 0;
        }

        .mobileheader {
            .panel {
                display: block;
            }
        }
    }

    body.showfilter {
        .filters {
            right: 0;
        }

        .mobileheader {
            .leftpanel {
                display: block;
            }
        }
    }

    .sidebar {
        position: fixed;
        left: -320px;
        z-index: 99;

        .sidelogo {
            display: none;
        }

        .sidenav {
            top: 0;
        }
    }

    .sidebar,
    .sidebar.expand {
        width: 300px;
    }

    .rightcontent {
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;

        .mobileheader {
            background: $red;
            margin: 0;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid darken($red, 5%);

            @include shadow(0, 1px, 2px, rgba(0, 0, 0, 0.1));

            z-index: 9;

            .hamburger {
                display: inline-block;
                vertical-align: top;
                width: 50px;
                height: 50px;
                cursor: pointer;
                background: transparent $hamburger_white_24 center no-repeat;
                background-size: 20px;

                &:active {
                    background-color: darken($red, 5%);
                }
            }

            .backbtn {
                display: inline-block;
                vertical-align: top;
                width: 50px;
                height: 50px;
                cursor: pointer;
                background: transparent $backbutton_white_24 center no-repeat;
                background-size: 20px;

                &:active {
                    background-color: darken($red, 5%);
                }
            }

            .filterbtn {
                float: right;
                display: inline-block;
                vertical-align: top;
                width: 50px;
                height: 50px;
                cursor: pointer;
                background: transparent $filter_white_24 center no-repeat;
                background-size: 20px;

                &:active {
                    background-color: darken($red, 5%);
                }
            }
            .mobilesubheader{
                padding: 10px 15px;
            }
            h1 {
                font-size: 16px;
                color: #fff;
                display: inline-block;
                vertical-align: top;
                padding: 0;
                line-height: 50px;
            }

            .panel {
                background-color: transparent;
                position: fixed;
                left: 300px;
                right: 0;
                top: 0;
                bottom: 0;
                display: none;
                z-index: 99;
            }

            .leftpanel {
                background-color: transparent;
                position: fixed;
                right: 200px;
                left: 0;
                top: 0;
                bottom: 0;
                display: none;
                z-index: 99;
            }
        }

        .maincontentwrap {
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 5;
            padding: 10px;
            overflow: auto;
        }
    }

    .sublimegridify, .sublimegrid {
        .half, .halved, .thirds, & > .form-group {
            width: 100%;
            margin-right: 0;
        }
    }

    .sublimegridsmall {
        .half {
            width: 50%;
            float: left;
        }

        .halved {
            width: 49%;
            margin-right: 2%;
            float: left;

            &:nth-of-type(2n+2) {
                margin-right: 0;
            }
        }

        .thirds {
            width: 33.33%;
            float: left;
        }
    }

    legend {
        font-size: 12px;
    }

    .hideonmobile {
        display: none;
    }

    .showonmobile {
        display: block;
    }

    .filters, .filters.inheader{
        position: fixed;
        top: 50px;
        right: -200px;
        width: 200px;
        background-color: #fff;
        bottom: 0;
        z-index: 99;
        margin: 0;
        padding: 20px;
        @include transitions;
        border-left: 1px solid $border;

        @include shadow(0, 0, 4px, rgba(0, 0, 0, 0.1));

        input, .inlineaction, select.nofloat {
            display: block;
            width: 100% !important;
            margin-right: 0 !important;
            margin-left: 0 !important;

            @include radius(0 !important);
        }

        input {
            text-align: left !important;
            padding-left: 0;
            padding-right: 0;
        }

        .filtertitle {
            margin-bottom: 20px;
            color: #999;
        }

        label {
            font-size: 10px;
            margin: 20px 0 10px;
        }

        .topgutter {
            margin-top: 40px;
        }

        .picker {
            position: fixed;
            left: 0px;
            top: 60px;
            right: 0px;
            margin: 0;
            padding: 0;

            .picker__holder {
                width: 93%;
                position: fixed;
                left: 10px;
                margin: 0;
                max-width: 92%;
                min-width: 92%;
            }
        }
    }

    .listwrap {
        padding-top: 0px;
        .flex-wrap{
            width: 100%;
            margin-right: 0%;
        }
        .listcard {
            margin-top: 10px;
        }

        .moveup, .moveupten {
            padding-top: 10px;
        }
    }
    .floatbutton{
        position: fixed;
        z-index: 999;
        bottom: 20px;
        right: 20px;
        width: 54px!important;
        height: 54px!important;
        text-indent: 200px;
        white-space: nowrap;
        @include radius(50%);
        cursor: pointer;
        @include shadow(0,2px,5px,rgba(0,0,0,.4));
    }
    .mapkey{
        white-space: normal;
        .keygroup {
            display: block;
            text-align: left;
            vertical-align: top;
            & + .keygroup {
                margin-top: 24px;
                margin-left: 0;
                border-left: none;
                padding-left: 0;
            }
        }
    }
    .meta{
        .quarter{
            width: 50%;
            &.bottom-margin-onmobile{
                margin-bottom: 15px;
            }
        }
    }
}
