<template name="assessment">
    <div class="maincontentwrap">
        <div class="narrowrap">

            <div class="assessment">
                <h1><Strong>Knowledge Assessment Test</Strong></h1>
                <br>
                <h3>You will be prompted with {{ questions_count }} questions.</h3>
                <br>
                <h3>On successful completion of this assessment, you will one step towards certification.</h3>
                <br>
            </div>
            <button type="button" id="btn-start" class="btn btn-primary right"><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
    </div>
</template>
