<template name="earnedPoints">
    {{> sidebar}}
    <div class="rightcontent">
        <div class="maincontentwrap">

                <div class="col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Earned Reward Points</h3>
                        </div>
                        <div class="panel-body">
                           {{totalRewardPoints}}
                        </div>
                        <div class="panel-footer">As of {{today}}</div>
                    </div>

                </div>
         </div>
    </div>
</template>